/* ----------------- BODY ----------------- */

.alert {
	display: none;
}

body {
	background: rgb(25, 6, 41);
	color: rgb(77, 157, 218);
	font-weight: lighter;
	line-height: 1.6;
}

.border-div {
	border-bottom: solid rgb(77, 157, 218) 1px;
}

.card {
	color: black;
}

hr {
	border-color: rgb(77, 157, 218);
}

.insert-section, .update-section, .users-div, .remove-section {
	color: white;
}

.intro-content {
	left: 50%;
	position: absolute;
	transform: translate(-50%, -10%);
	top: 10%;
	z-index:-1;
}

.section-intro {
	border-bottom: 2px solid rgb(77, 157, 218);
	height: 350px;
}